{% extends "navbar.html" %}
{% block body %}
{% for row in data %}
<h4 class="container" style="position: absolute; left:43%">Land (ID): {{row}}</h4>
<form class="update container mt-5" style="width: 600px;" action="/land-update?id={{row}}" method="POST">
  {% endfor %}
<input type="text" name="sw_id" class="form-control mb-3" placeholder="SW_id" required autofocus>
<input type="text" name="w_id" class="form-control mb-3" placeholder="Wing_id" required autofocus>
<input type="text" name="address" class="form-control mb-3" placeholder="address" required autofocus>
<button class="btn btn-info container" type="submit">Enter</button>
</form>
{% endblock %}