{% extends "navbar.html" %}
{% block body %}
{% for row in data %}
<h4 class="container" style="position: absolute; left:41%">Subwing_id: {{row}}</h4>
<form class="update container mt-5" style="width: 600px;" action="/subwings-update?sw_id={{row}}" method="POST">
  {% endfor %}
  <input type="text" name="asecr_id" class="form-control mb-3" placeholder="Asecr_id" required autofocus>
  <input type="text" name="jt_secr" class="form-control mb-3" placeholder="Jt_Secr" required autofocus>
  <input type="text" name="w_id" class="form-control mb-3" placeholder="Wing_id" required autofocus>
  <input type="text" name="hq" class="form-control mb-3" placeholder="HQ" required autofocus>
  <input type="text" name="name" class="form-control mb-3" placeholder="Name" required autofocus>
  <button class="btn btn-info container" type="submit">Enter</button>
</form>
{% endblock %}